body {
    background-color: #222; /* Cor de fundo cinza escuro */
    color: white; /* Cor do texto */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da tela */
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #4caf50; /* Borda verde */
    border-radius: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
